<h1 mat-dialog-title>Estimado Usuario</h1>
<div mat-dialog-content>
  <p>Mediante el registro de sus datos personales en el presente formulario y de conformidad con lo establecido en la <strong>ley 1581 de 2012</strong>
     usted autoriza a <strong>Desarrollo y Proyectos S.A.S</strong> para la recolección, almacenamiento y uso de los mismo con la finalidad de reportar daños del alumbrado público de Valledupar, así como para informarle sobre otros eventos organizados por esta entidad relacionados con nuestras funciones</p>
  <p>Entiendo y acepto el registro y uso de mis datos personales, como se estipula anteriormente.</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close] class="btn-block">ACEPTO</button>
</div>